.events {
  background-color: #F4F4F4;
  padding: 25px 0 25px 0;

  .col-lg-4 {
    margin-bottom: 10px;
  }

  .col-lg-8 p {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.event {
  padding-bottom: 5px;
}
