.navbar-default {
  margin-bottom: 0;
  border-bottom: 0;
}

.navbar-rg {
  background-color: #d3360b;

  a, a:visited, a:hover, a:active {
    color: #ffffff !important;
  }
}

.navbar-default .navbar-toggle {
  border-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #f35959;
}

.navbar-default .navbar-toggle .icon-bar {
  border-color: #ffffff;
  background-color: #ffffff;
}
