footer.footer
  br &copy; 2017 Rails Girls MY
  span Built with all the love in the world by #{link_to '@fzrhrs', 'http://twitter.com/fzrhrs', target: '_blank'}. Maintained by the #{link_to 'core team', 'team'} with the help of #{link_to 'our mentors', 'mentors'}.
  br #{link_to 'Code of Conduct', 'code-of-conduct', title: 'RGMY Code of Conduct'}
